.add_button a{
color:#FFFFFF;
}
.container
{
    background-color: #243452;
    width: 100%;
    color: white;
    text-align: center;
    position: relative;
    padding-bottom: 10px;
    /* border-radius: 0px 0px 0px 0px; */
    /* margin-left: 75px;
    margin-right: 75px; */
}

.divider
{
    margin-top: 40px;
    position: relative;
    align-content: center;
    /* background-color: #30405e; */
    color: white;
    text-align: center;
    
}

.contain_button
{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 140px;
    display: inline-block;
    text-decoration: none;
    size: 25px;
    color: #f1f0f0;
    border: 1px solid #f1f0f0;
    /* padding: 10px 10px 10px 10px; */
    border-radius: 30px;
    font-size: 18px;
    background-color: transparent;
    cursor: pointer;
}
.contain_button a{
    color: #f1f0f0;
}
.contain_button a:hover{
    color: #cccaca;
}
.contain_button:hover
{
    transform: scale(1.05);
    border: 2px solid #cccaca;
}


.latest
{
    margin: auto;
    text-align: center;
}

.books
{
    position: relative;
    align-content: center;
    text-align: center;
    margin-left: 25px;
    margin-right: 35px;
    margin-top: 25px;
    margin-bottom: 5px;
}

.books img:hover
{
    transform: scale(1.05);
}


.add_button
{
    background-color: #1B263B;
    display: block;
    text-align: center;
    border: 1px solid;
    outline: none;
    margin-top: 5px;
    margin-left: 70px;
    margin-bottom: 5px;
    width: 150px;
    text-decoration: none;
    size: 18px;
    color: #FFFFFF;
    padding: 10px 10px 10px 10px;
    font-size: 12px;
    cursor: pointer;
    transition: 0.20px;
    border-radius: 30px;
}

.add_button:hover
{
    background-color: #0877aa;
}
 
.bookImg
{
    width: 300px;
}

.books-preview
{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    background: rgba(0, 0, 0, .7);
    display: none;
    align-items: center;
    justify-content: center;
}

.books-preview .preview
{
    display: none;
    width: 260px;
    padding: 50px;
    text-align: center;
    background: #ffffff;
    position: relative;
    margin: 40px;
}

.books-preview .preview.active
{
    display: inline-block;
}

.books-preview .preview img
{
    height: 350px;
}

.books-preview .preview .fa-times
{
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    color: #1B263B;
    font-size: 25px;
}

.books-preview .preview .fa-times:hover
{
    transform: scale(1.09);
}

.books-preview .preview h3
{
    color: #1B263B;
    padding: 10px 0;
    font-size: 30px;
}

.books-preview .preview p
{
    color: #464b53;
    padding: 10px;
    font-size: 14px;
    line-height: 1.5;
}

.books-preview .preview .price
{
    color: #1B263B;
    padding: 10px;
    font-size: 17px;
}

.books-preview .preview .buttons
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1px;
}

.books-preview .preview a
{
    flex: 1 1 16rem;
    padding: 2px;
    font-size: 18px;
    color: #1B263B;
    border: 1px solid #1B263B;
}

.books-preview .preview a:hover
{
    background-color: #1B263B;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}
