/* 
    ST10115884 Mashudu Luvhengo 
    ST10118368 Ledwaba David
    The code is my own work unless stated otherwise as a comment at the point of usage 
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
body
{
    background-image: url("img/books.jpeg");
    background-position: center;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    margin-top: 85px;
}

.login-title
{
    width: 800px;
    background-color:  rgba(19, 18, 18, 0.796);
    margin: auto;
    color: #FFFFFF;
    padding: 5px 0px 5px 0px;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}

.formMain
{
    background-color:  rgba(19, 18, 18, 0.796);
    width: 800px;
    margin: auto;
}

.form
{
    padding: 15px;
}

.label
{
    margin-left: 15px;
    margin-top: 20px;
    width: 100px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}

.login-input
{
    margin-left: 15px;
    font-size: 16px;
    color: #FFFFFF;
    width: 250px;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: none;
    background: transparent;
}

.login-button
{
    background-color: #1B263B;
    display: block;
    margin: 15px 0px 0px 15px;
    text-align: center;
    border-radius: 13px;
    border: 1px solid #1B263B;
    width: 190px;
    height: 40px;
    outline: none;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.20px;
    font-size: 17px;
}

.login-button:hover
{
    background-color: #0877aa;
    border: 1px solid #0877AA;
}


.link
{
    padding: 5px 0px 5px 0px;
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 65px;
}

.link2
{
    padding: 5px 0px 5px 0px;
    font-size: 16px;
    color: #FFFFFF;
}

.link2:hover
{
    color: #1b942f;
}
